@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

@layer base {
  body {
    @apply text-neutral-600 antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-playfair text-black;
  }
}
